 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hidden {
    display: none;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form select, form button {
    margin-top: 5px;
    padding: 8px;
    width: 300px;
    font-size: 1em;
}

#login-section, #register-section{
    
    width:500px;
    position: absolute;
    top:30%;
    left:40%;
    background-color: azure;
    
    

}

#btn{
    background-color: rgb(61, 133, 241);
    margin: 15px;
    border-style: none;
    color: ghostwhite;
}



#property-list, #seller-property-list {
    display: flex;
    flex-wrap: wrap;
}

.property-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 30%;
}
